@import "tailwindcss";

:root {
  /* Brand Colors from logo */
  --primary: #000000; /* deep black */
  --secondary: #f4b400; /* premium gold */
  --white: #ffffff;

  /* UI Neutrals */
  --bg: #000000;
  --text: #b3b0af;
  --muted: #9ca3af;

  /* Gradient */
  --gradient-gold: linear-gradient(135deg, #f4b400, #ffcc33);
}

.nav-link {
  position: relative;
  transition: color 0.3s ease;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0;
  height: 2px;
  background: #f4b400;
  transition: width 0.3s ease;
}

.nav-link:hover {
  color: #f4b400;
}

.nav-link:hover::after {
  width: 100%;
}

/* button 2 css */

.btn-style500 {
  padding: 12px 28px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;

  border: 2px solid #f4b400;
  color: #f4b400;
  background: transparent;

  transition: all 0.25s ease;
  position: relative;
  overflow: hidden;
}

/* hover animation */
.btn-style500:hover {
  color: #fff;
  transition-delay: 0.2s;

  animation: ani500 0.6s forwards;

  background:
    radial-gradient(circle, #f4b400 0.2em, transparent 0.3em) 6em 6em / 1em 1em,
    radial-gradient(circle, #f4b400 0.2em, transparent 0.3em) 0 0 / 1em 1em;
}

@keyframes ani500 {
  100% {
    background-size:
      2.375em 2.375em,
      0.1em 0.1em;
  }
}
